<div id="wp" class="wp">
    <div id="pt" class="bm cl">
        <div class="z">
            <a href="./" class="nvhm" title="首页">兔蜜美食</a> <em>›</em>
            <a href="forum.php?mod=collection">采集</a> <em>›</em>
            <a href="forum.php?mod=collection&amp;op=all">所有专辑</a>
        </div>
    </div>

    <div id="ct" class="wp cl">
        <div class="bm">
            <div class="bm_c">
                <div class="clct_list cl" style="margin: 0px auto; width: 1405px;">

                    <div class="xld xlda cl" style="display:none;">
                        <a href="forum.php?mod=collection&amp;action=edit">
                            <div id="tjxzj">
                                <div id="tjxzj1">
                                    <img src="./static/image/common/tjxzj.png">
                                </div>
                                <div style="display: block;    color: #777;    text-align: center;    line-height: 30px;">创建淘专辑</div>
                            </div>
                        </a>
                    </div><a href="http://www.tumi365.com/collection/26.html">
                    </a><div class="xld zj cl pubuliu" style="box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;">
                        <a href="http://www.tumi365.com/collection/26.html"></a><dl>
                            <a href="http://www.tumi365.com/collection/26.html">
                                <dd class="m hm" style="border: 1px solid #dedede;">

                                    <div class="zjfm"><img style="width: 282.5px; min-height: 260px; opacity: 1;" class="lazy" alt="" src="data/attachment/forum/threadcover/6f/3e/1300.jpg"></div>

                                </dd>
                            </a>
                            <div>
                                <a href="http://www.tumi365.com/collection/26.html">

                                </a><div>
                                    <a href="http://www.tumi365.com/collection/26.html">
                                    </a><a href="http://www.tumi365.com/collection/26.html" class="xi99">糖小饼</a>
                                    <p class="zhuanji_sy" style="margin-top:10px; float:right">
                                        <em class="change_color">主题: 28</em>
                                        <em class="change_color">订阅: 0</em>
                                    </p>
                                    <p class="zhuanji_sy" style="margin-top:10px; float:left">
                                        <em class="change_color">熊猫大吃货</em>
                                    </p>
                                </div>
                            </div>


                        </dl>
                    </div>

                    <a href="http://www.tumi365.com/collection/27.html">
                    </a><div class="xld zj cl pubuliu" style="box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;">
                        <a href="http://www.tumi365.com/collection/27.html"></a><dl>
                            <a href="http://www.tumi365.com/collection/27.html">
                                <dd class="m hm" style="border: 1px solid #dedede;">

                                    <div class="zjfm"><img style="width: 282.5px; min-height: 260px; opacity: 1;" class="lazy" alt="" src="data/attachment/forum/threadcover/a8/6c/570.jpg"></div>

                                </dd>
                            </a>
                            <div>
                                <a href="http://www.tumi365.com/collection/27.html">

                                </a><div>
                                    <a href="http://www.tumi365.com/collection/27.html">
                                    </a><a href="http://www.tumi365.com/collection/27.html" class="xi99">厨恋恋</a>
                                    <p class="zhuanji_sy" style="margin-top:10px; float:right">
                                        <em class="change_color">主题: 11</em>
                                        <em class="change_color">订阅: 0</em>
                                    </p>
                                    <p class="zhuanji_sy" style="margin-top:10px; float:left">
                                        <em class="change_color">熊猫大吃货</em>
                                    </p>
                                </div>
                            </div>


                        </dl>
                    </div>

                    <a href="http://www.tumi365.com/collection/29.html">
                    </a><div class="xld zj cl pubuliu" style="box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;">
                        <a href="http://www.tumi365.com/collection/29.html"></a><dl>
                            <a href="http://www.tumi365.com/collection/29.html">
                                <dd class="m hm" style="border: 1px solid #dedede;">

                                    <div class="zjfm"><img style="width: 282.5px; min-height: 260px; opacity: 1;" class="lazy" alt="" src="data/attachment/forum/threadcover/e5/84/700.jpg"></div>

                                </dd>
                            </a>
                            <div>
                                <a href="http://www.tumi365.com/collection/29.html">

                                </a><div>
                                    <a href="http://www.tumi365.com/collection/29.html">
                                    </a><a href="http://www.tumi365.com/collection/29.html" class="xi99">鹦鹉厨房</a>
                                    <p class="zhuanji_sy" style="margin-top:10px; float:right">
                                        <em class="change_color">主题: 12</em>
                                        <em class="change_color">订阅: 0</em>
                                    </p>
                                    <p class="zhuanji_sy" style="margin-top:10px; float:left">
                                        <em class="change_color">熊猫大吃货</em>
                                    </p>
                                </div>
                            </div>


                        </dl>
                    </div>

                    <a href="http://www.tumi365.com/collection/33.html">
                    </a><div class="xld zj cl pubuliu" style="box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;">
                        <a href="http://www.tumi365.com/collection/33.html"></a><dl>
                            <a href="http://www.tumi365.com/collection/33.html">
                                <dd class="m hm" style="border: 1px solid #dedede;">

                                    <div class="zjfm"><img style="width: 282.5px; min-height: 260px; opacity: 1;" class="lazy" alt="" src="data/attachment/forum/threadcover/90/50/1246.jpg"></div>

                                </dd>
                            </a>
                            <div>
                                <a href="http://www.tumi365.com/collection/33.html">

                                </a><div>
                                    <a href="http://www.tumi365.com/collection/33.html">
                                    </a><a href="http://www.tumi365.com/collection/33.html" class="xi99">魔力美食</a>
                                    <p class="zhuanji_sy" style="margin-top:10px; float:right">
                                        <em class="change_color">主题: 13</em>
                                        <em class="change_color">订阅: 0</em>
                                    </p>
                                    <p class="zhuanji_sy" style="margin-top:10px; float:left">
                                        <em class="change_color">熊猫大吃货</em>
                                    </p>
                                </div>
                            </div>


                        </dl>
                    </div>

                </div>
            </div>
        </div>
        <br><br>
    </div>
</div>