@model IEnumerable<Models.Articles>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Article6</title>
</head>
<body>
    <div> 
        @foreach (var article in Model)
        {
            <a href="@Url.Action("ArticleDetails", "ArticleShow", new { id = article.ArticleID})"><h2>@article.Title</h2></a>
                <img src="@article.Picture" height="260" width="178" />
        }
    </div>
</body>
</html>
