@model IEnumerable<Models.Special>

@{
    ViewBag.Title = "SpecialShow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
 
    @foreach (var s in Model)
    {
        <a href="@Url.Action("FoodSpecial", "Special", new { id = s.SpecialID})"><h2>@s.SpecialName</h2></a>
    }
</div>


