
@model IEnumerable<Models.ArticleCategory>
@{
    ViewBag.Title = "ArticleIndex";
}
    <link href="~/Content/css/gg.css" rel="stylesheet" />
    <link href="~/Content/css/passport.css" rel="stylesheet" />
  

<div id="main" class="clearfix">

    <div class="maleft">
        <div class="allsite clearfix">

            <h2 class="fsl mb15 t550">全部文章</h2>
            <div id="ssss">@{Html.RenderAction("AcIndex1", "Article");}</div>

        </div>
    </div>

    <div class="maright">


        <div class="hotzt mb25">
            <h2>主题站</h2>
            @Ajax.ActionLink("全部", "AcIndex1", "Article", new { genreInfoFrom = "" }, new AjaxOptions()
       {
           UpdateTargetId = "ssss",
           InsertionMode = InsertionMode.Replace,
           HttpMethod = "GET"
       })

            @foreach (var p in Model)
            {

                <div class="pv15 lictq clearfix">
                    <div class="hgpic mrm">
                        <a href="/Article/ArticleIndex" target="_blank"><img class="img12" src="@p.ArticleCImage" alt=""></a>
                    </div>
                    <h3>
                        @Ajax.ActionLink(p.ArticleCName, "AcIndex1", "Article", new { genreInfoFrom = p.ArticleCName }, new AjaxOptions()
                   {
                       UpdateTargetId = "ssss",
                       InsertionMode = InsertionMode.Replace,
                       HttpMethod = "GET"
                   })
                    </h3>
                    <p>@p.ArticleCJS</p>
                </div>
            }
        </div>

        <div class="yueg mb25">
            <h2>欢迎来稿</h2>
            <p>有食候美食主题站提供了一个温暖的平台，如果你是个资深吃货，爱好写作，并且乐于分享，那么我们找的就是你啦！</p>
            <p>文章一经录用，奖2000积分！投稿要求：原创文章，语言流畅，思路清晰，主题与“美食”相关，文章至少2000字，图片精美。<br>投稿邮箱：<span class="fcb">125122017@qq.com</span> 我们期待您的来稿（来稿请注明您的用户名）。</p>
        </div>
    </div>

</div>
<script src="~/Scripts/JS/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/JS/jquery.unobtrusive-ajax.min.js"></script>


